.container {
  width: 1200px;
  margin: 0 auto;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}



::-webkit-input-placeholder {
  color: #888888;
}
:-moz-placeholder {/* Firefox 18- */
  color: #888888;
}
::-moz-placeholder{/* Firefox 19+ */
 color: #888888;
}
:-ms-input-placeholder {
  color: #888888;
}
